/* hero */
.hero{
    position: relative;
    overflow: hidden;
    min-height: 100svh;
    padding: 60px 120px;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('https://images.unsplash.com/photo-1706675804644-c8fa831038ad?w=1600&auto=format&fit=crop&q=80');
    background-size: cover;
    background-position: center;
    z-index: -2;
    opacity: 0.8;
}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: 
    linear-gradient(to right, rgba(10,12,16,0.95) 55%, rgba(10,12,16,0.35) 100%),
    linear-gradient(to top, rgba(10,12,16,0.8) 0%, transparent 45%);
    z-index: -1;
    pointer-events: none;
}

.hero .title h2{
    color: var(--white);
    font-size: var(--fs-price);
    margin-bottom: 20px;
}
.hero .title h2 span{
    color: var(--accent)
    /* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8); */
}
.hero .title h3{
    color: var(--white);
    font-size: var(--fs-body);
}
.hero .content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.hero .content p{
    color: var(--muted-light);
    font-size: var(--fs-xs);
    letter-spacing: 0.1em;
}
.hero .footer{
    color: var(--white);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero .footer span{
    display: block;
    text-align: center;

}
.hero .footer p{
    border: 1px solid;
    flex:1;
    font-size: var(--fs-date);
    padding: 12px 0;
}

.hero .footer p span:first-child{
    font-family: 'Cormorant Garamond', serif;

}

.hero .footer p span:last-child{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: var(--fs-body);
}

/* 光譜儀 */
.spectrum,
.timeline,
.waitlist{
    padding: 120px;
    min-height: 100svh;
}
.spectrum .title h3{
    text-indent: 1.5em;
    margin-bottom: 20px;
    color: var(--muted);
}
.spectrum .content{
    margin-block: 40px;
    position: relative;
}
.spectrum .card {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 500px;
    height: 160px;
}
.spectrum .card li{
    position: absolute;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid var(--line);
    background: var(--white);;
}
.spectrum .card li:nth-child(1) {
    transform: rotate(3deg);
}
.spectrum .card li:nth-child(2) {
    transform: rotate(-1.5deg);
}
.spectrum .card li:nth-child(3) {
    transform: rotate(0deg);
}
.spectrum .footer{
    padding-top: 20px;
}


/* timeline */
.timeline{
    background-image: url('https://images.unsplash.com/photo-1706675804644-c8fa831038ad?w=1600&auto=format&fit=crop&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.timeline::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}
.timeline > * {
    position: relative;
    z-index: 1;
}
.timeline .title h2,
.waitlist .title h2{
    color: var(--white);
}

.timeline .title:first-child h3,
.waitlist .title h3{
    color: var(--muted-light);
}
.timeline .title .btn-secondary{
    margin-top: 20px;
}
.card{
    margin-block: 20px;
    align-items: center;
}
.timeline .card li {
    background: var(--white);
    padding: 20px;
    margin-bottom: 12px;
    width: 360px;
}

.timeline .card li:nth-child(even) {
    margin-left: auto;
}
/* waitlist */
.waitlist{
    background-color: var(--dark);
}
.waitlist .title h3{
    color: var(--muted-light);
}
.waitlist .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.waitlist .content .txt{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.waitlist .content .txt p{
    color: var(--muted-light);
    margin-top: 60px;
    font-size: var(--fs-xs);
    letter-spacing: 0.1em;
}
.waitlist .content .svg-logo{
    color: var(--white);
    width: 280px;
    height: 280px;
}






